.el-select__tags {
  > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.el-submenu__title {
  height: 36px !important;
  line-height: 36px !important;
  font-size: 12px !important;
}

.el-menu-item {
  height: 36px !important;
  line-height: 36px !important;
  font-size: 12px !important;
}

.el-table .cell {
  padding-left: 2px;
  padding-right: 2px;
}

//.el-menu-item {
//  &.is-active {
//    background-color: #5da9ff;
//    color: #fff;
//  }
//}